body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
body a{
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.3s;
}
body a:hover{
    color: rgba(0, 0, 0, 1);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}



/*-------НАВІГАЦІНЕ_МЕНЮ---------------*/
.nav-menu {
}
.nav-menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu__item {
    position: relative;
}
.nav-menu__link {
}

.nav-menu__arrow {
    position: absolute;
    right: -25px;
    bottom: 3px;
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 9px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: all 0.3s;
}
.nav-menu__arrow:hover {
    border-top: 9px solid rgba(0, 0, 0, 1);
}


#arrow-list {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10px 0;
    display: none;
}

.arrow-list__open {
    display: block;
}
.arrow-list__item {
    margin-bottom: 10px;
}
.arrow-list__link {
    font-size: 16px;
}



/*---------PRABA-------------*/
.wrapper__list {
    margin-top: 100px;
    max-width: 100px;
}
#block {
}
#block__link {
    text-transform: uppercase;
}
.overflow-hidden {
    overflow: hidden;
}
#field-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 5px 10px;
    background-color: rgba(0, 64, 255, 0.6);
    visibility: hidden;
    margin-top: -160px;
    transition: all 0.3s ease-in-out;
}
#field-list.field-list-start {
    visibility: visible;
    overflow: hidden;
    margin-top: 0;
}
.field-list__item {
}
.field-list__item:not(:last-child) {
    margin-bottom: 10px;
}
.field-list__link {
    color: #ffffff;
}
.field-list__link::before {
    content: '-';
}








/*HEADER__MENU*/
#header {
    height: auto;
    
}
.header__container {
}
#header__menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: -100vh;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 1s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
._menu {
}
.menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.menu__item {
}
.menu__link {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 250%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-weight: 600;
}
.menu__link:hover {
    color: #ff0000;
}
/**/
/*--------BURGER_MENU-----------*/
#burger {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: all 1s;
}
#burger__line {
    height: 4px;
    width: 100%;
    background-color: #000;
}
#burger__line::before,
#burger__line::after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #000;
}
#burger__line::before {
    top: 0;
    left: 0;
}
#burger__line::after {
    left: 0;
    bottom: 0;
}


#burger__line.white,
#burger__line.white::before,
#burger__line.white::after {
    background-color: #ffffff;
    transition: all 1s;
}
#burger__line.rotate {
    height: 0;
}
#burger__line.rotate:before {
    rotate: 45deg;
    margin-top: 13px;
    transition: all 0.3s;
}
#burger__line.rotate::after {
    rotate: -45deg;
    margin-bottom: 13px;
    transition: all 0.3s;
}
#header__menu.burger-start {
    visibility: visible;
    top: 0;
    opacity: 1;
    transition: all 1s;
}
/*-----*/




#main {
    margin-top: 100px;
}
/*-----POP_UP----*/
#pop-up {
    max-width: 400px;
    margin: 0 auto;
}

#pop-up__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#pop-up__content img {
    cursor: pointer;
}
@media (min-width: 768px) {
    #pop-up__content img:hover {
        box-shadow: 0 0  10px #000000;
    }
}

#pop-up__content.screen-fool {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    
}
#pop-up__content img.pop-up__width-img {
    width: 65%;
}
